body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    position: relative;
    border-collapse: separate;
    border-spacing: 10px 10px;
}

tr {
    margin: 50px;
    padding: 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

td {
    background-color: #3d9f9c;
    text-align: center;
    color: white;
}

button.delete {
    border-radius: 15%;
    color: white;
    background-color: #e51414;
}

button.edit {
    border-radius: 15%;
    color: white;
    background-color: #9db42c;
}

.add_edit_table {
    width: 350px;
    border-spacing: 0px 0px;
}

.tr1 {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

.td1 {
    background-color: rgba(0, 125, 215, 0);
    text-align: left;
}
