@page
@model Lego.Models.Collection

<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <link href="~/css/Center.css" rel="stylesheet">
    <title>Колекції</title>
</head>
<body class="Body">
    <table class="add_edit_table">
        <tr class="tr1">
            <td colspan="2" class="td1">
                <h4>Додати колекцію</h4>
            </td>            
        </tr>
        <tr class="tr1">
            <td class="td1">
                <form action="javascript:void(0);" method="POST" onsubmit="addCollection()">
                    <input type="text" id="add-name" placeholder="Назва"/>
                    <span asp-validation-for="Name"></span>
                    <input type="submit" value="Додати" />
                </form>
            </td>
        </tr>
        <tr class="tr1">
            <td class="td1">
                <h5>Редагувати інформацію про колекцію</h5>
            </td>
         </tr>
         <tr class="tr1">
            <td class="td1">
                <div id="editCollection">                    
                    <form action="javascript:void(0);" onsubmit="updateCollection()">
                        <input type="hidden" id="edit-id" />
                        <input type="text" id="edit-name" />
                        <input type="submit" value="Зберегти" />
                        <a onclick="closeInput()" aria-label="Close">&times;</a>
                    </form>
                </div>
            </td>
        </tr>        
    </table>

    <table>
        <tr>
            <th>Назва</th>
        </tr>
        <tbody id="collections"></tbody>
    </table>

    <script src="js/Collections.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getCollections();
    </script>
</body>
</html>

